* {
    margin: 0;
    padding: 0;
}

body
{
    background-color: #E7E4E4;
    font-family: Open Sans;
    min-width: 960px;
}

a:visited
{
    color: #f39c12;
}

/**
   Header
   */

header {
    height: 100px;
    background-color: #2d3034;
    overflow: auto;
}


#header-content
{
    width: 960px;
    margin: auto;
    overflow: auto;
}

/**
   Navigation
   */
nav {
    background-color: #16181a;
    display: block;
    height: 50px;
}

nav > ul {
    display: block;
    height: 100%;
    width: 960px;
    margin: auto;
    overflow: auto;
}

ul.navigation > li {
    float: left;
    display: inline-block;
    font-family: Ubuntu;
    font-weight: light;
    list-style: none outside none;
    border-right: 2px #1f2226 solid;
}

ul.navigation a {
    color: #FFF;
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 0.8em;
    text-decoration: none;
}

ul.navigation a.active
{
    color: #f7ca18;
}

ul.navigation a.active:after
{
    content: "";
    background-image: url(../images/active-menu-arrow.png);
    display: block;
    width: 8px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12px;
}

/**
   Content
   */

#main-page-wrapper
{
    width: 960px;
    margin: auto;
    overflow: auto;
}

#content
{
    width: 728px;
    overflow: auto;
    float: left;
    margin-top: 10px;
}

#right-column
{
    float: right;
    width: 215px;
    margin-top: 10px;
}

/**
   Events list
   */

.event
{
    clear: both;
    margin-top: 10px;
    overflow: auto;
    width: 728px;
}

.event-even
{
    background-color: #e7e4e4;
}

.event-odd
{
    background-color: #eceaea;
}

.event-date
{
    float:left;
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: #22a7f0;
    text-align: center;
}

.event-day
{
    font-size: 40px;
}

.event-month
{
    font-size: 16px;
}

.event-image
{
    width: 80px;
    height: 80px;
    float: left;
    margin: 10px;
    position: relative;
}

.event-type
{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #05B9ED;
    padding: 1px 5px;
    font-size: 12px;
}

.event-middle-column
{
    float: left;
    margin: 10px;
    width: 380px;
    font-family: Open Sans, Verdana, sans;
}

.event-description
{
    font-size: 13px;
    word-wrap: break-word;
}

.event-right-column
{
    float: left;
    margin-top: 10px;
    width: 120px;
}

.event-details
{
    height: 28px;
    background: #f39c12;
    line-height: 28px;
    text-align: center;
    margin-top: 5px;
}

.event-details-href
{
    color: #000;
    text-decoration: none;
    font-size: 12px;
}

.event-details-href:visited
{
    color: #000;
}

/**
   Event inner page
   */

.event-inner-header
{
    border-bottom: 1px gray solid;
    overflow: auto;
    padding-bottom: 10px;
}

.event-inner-title
{
    float: left;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
    width: 625px;
}

.event-inner-header-right-column
{
    float: left;
    overflow: auto;
}

.event-inner-time-and-price
{
    overflow: auto;
    float: left;
    clear: both;
}

.event-inner-time
{
    float: left;
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
}

.event-inner-price
{
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
}

.event-inner-main-photo
{
    margin-top: 10px;
    text-align: center;
}

/**
   Footer
   */

footer
{
    background: #1d1d1b;
    padding-top: 10px;
    margin-top: 10px;
}

footer ul
{
    list-style: none;
}

#footer-content
{
    width: 960px;
    margin: auto;
    overflow: auto;
}

#to-guests
{
    width: 200px;
    color: #fff;
    float: left;
    text-align: left;
}

#to-guests > ul > li > a
{
    color: #219de2;
    font-size: 12px;
}

#about-us
{
    float: left;
    color: #fff;
    width: 200px;
    text-align: left;
}

#about-us > ul > li > a
{
    color: #219de2;
    font-size: 12px;
}

#timetable
{
    float: left;
    color: #fff;
    width: 310px;
    text-align: left;
}

#timetable > p
{
    font-size: 12px;
}

#contacts
{
    float: left;
    color: #fff;
    width: 250px;
    text-align: left;
}

#contacts > p
{
    font-size: 12px;
}

#contacts a
{
    color: #219de2;
}

#copyrights
{
    border-top: 1px #23262b solid;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #636465;
    font-size: 12px;
    margin-top: 10px;
}

#copyrights > a
{
    color: #219de2;
}

#social-buttons
{
  margin-top: 10px;
}

#social-buttons > a
{
  margin: 2px;
}

/**
  Galleries list
*/

.gallery-row
{
  overflow: auto;
}

.gallery
{
  float: left; 
  width: 220px;
}

.gallery-first
{
  margin-right: 25px;
}

.gallery-middle
{
  margin-right: 25px;
}

.gallery-title
{
  float: left;
  clear: both;
  display: block;
  margin-bottom: 10px;
}

.gallery-image
{
  float: left; 
  display: block;
  clear: both;
}

.gallery-watch-button
{
  height: 28px;
  background: #f39c12;
  line-height: 28px;
  text-align: center;
  margin-top: 5px;
  float: right; 
  padding: 2px 5px 2px 5px;
}

.gallery-watch-button-link
{
  color: #000;
  text-decoration: none;
  font-size: 12px;
}

.gallery-watch-button-link:visited
{
  color: #000;
}

.gallery-watch-button-link:hover
{
  color: #219de2;
}

/**
  Gallery photos list
 */
 
.gallery-photo-row
{
  overflow: auto;
}

.gallery-photo
{
  float: left; 
  width: 220px;
}

.gallery-photo-first
{
  margin-right: 25px;
}

.gallery-photo-middle
{
  margin-right: 25px;
}

.gallery-image
{
  float: left; 
  display: block;
  clear: both;
}

.gallery-photos-header
{
  text-align: center;
}

.gallery-photos-description
{
  margin-top: 10px;
  margin-bottom: 10px;
}

/**
 * Video
 */

.video-row
{
  overflow: auto;
}

.video
{
  float: left;
}

.video-last
{
  margin-left: 40px;
}

/**
 * Pagination
 */
.pagination
{
  text-align: center;
  display: block;
}

.pagination > li
{
  display: inline;
  margin-left: 5px;
}

/**
 * Reports
 */
.report
{
  float: left;
}

.report-middle
{
  margin-left: 25px;
}

.report-last
{
  margin-left: 25px;
}

.reports-row
{
  overflow: auto;
}

.report-title
{
  text-align: center;
}

.reports-row
{
  margin-top: 10px;
}
